.git
.gitignore
data/
chroma_db/
models/
notebooks/
illustrations/
tests/
api/
*.pth
*.parquet.gzip
*.parquet
__pycache__
**/__pycache__
**/*.pyc
.env
.env.*
!.env.example
mlflow/
docker-compose.yaml
*.log
*.ipynb
