albumentations
torchao
torchvision
transformers==4.45.0
ultralytics
chromadb==1.5.8 # Фиксируем конкретную версию, чтобы не было проблем с чтением векторной БД из s3. Использую python3.11
sqlalchemy
fastapi
boto3
awswrangler
python-multipart
scikit-learn
ipywidgets
jupyter
pytorch-metric-learning
omegaconf